@font-face {
    font-family: 'Mermaid Swash Caps';
    src: url('MermaidSwashCaps-Bold.eot');
    src: url('MermaidSwashCaps-Bold.eot?#iefix') format('embedded-opentype'),
        url('MermaidSwashCaps-Bold.woff') format('woff'),
        url('MermaidSwashCaps-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mermaid';
    src: url('Mermaid-Bold.eot');
    src: url('Mermaid-Bold.eot?#iefix') format('embedded-opentype'),
        url('Mermaid-Bold.woff') format('woff'),
        url('Mermaid-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
