@charset 'utf-8';

/* TRANSFONTER para usar y enlazar fonts customs*/

body {
    margin: 0;
    display: grid;
    grid-template-rows: 10dvh 1fr 20dvh;
    font-family: 'Anybody', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #343434;
    width: 100%;
}

/* HEADER */
body .mainNav {
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #BBE7FF;

    font-family: 'Anybody', Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

body nav div {
    padding: 10px;
    width: 90%;
    justify-self: center;
    justify-content: center;
    display: flex;
}

body nav div a {
    color: #343434;
    text-decoration: none;
}

body nav div .headerLeft {
    font-family: 'Mermaid Swash Caps', 'Times New Roman', Times, serif;
    font-size: 2rem;
}

body nav div .headerRight {
    justify-content: right;
    justify-self: right;
    gap: 5%;
}

body nav div .headerRight .active {
    text-decoration: underline;
    text-decoration-style: wavy;
}

body .mobileNav {
    display: none;
}

/* MAIN */
body main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1%;
    grid-row-gap: 0;
    margin-top: 5%;
}

body footer {
    grid-row-start: 3;
    background-color: #343434;
    display: flex;
    padding: 5%;
}

body footer p {
    color: #BBE7FF;
}


@media screen and (max-width: 820px) {

    body {
        margin: 0;
        display: grid;
        grid-template-rows: 5dvh 1fr 20dvh;
        font-family: 'Anybody', Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #343434;
        width: 100%;
    }

    body main {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1%;
        grid-row-gap: 0;
        margin-top: 5%;
    }

    body footer {
        padding-left: 10%;
    }
}

@media screen and (max-width: 430px) {

    body {
        margin: 0;
        display: grid;
        grid-template-rows: 10dvh 1fr 10dvh;
        font-family: 'Anybody', Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #343434;
        width: 100%;
    }

    body main {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    body .mainNav {
        display: none;
    }

    body .mobileNav {
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: #BBE7FF;

        font-family: 'Anybody', Arial, Helvetica, sans-serif;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
    }

    body .mobileNav .header {
        width: 100%;
        display: flex;
        justify-self: center;
        justify-content: center;
        align-items: center;
        gap: 70%;
        padding: 0;
    }

    body .mainNav .header span {
        justify-self: right;
        justify-content: center;
        align-self: center;
    }

    body .mobileNav .header .logo {
        font-family: 'Mermaid Swash Caps', 'Times New Roman', Times, serif;
        font-size: 2rem;
        align-self: left;
    }

    body .mobileNav #mySections {
        padding: 0;
        height: 0;
        width: 115%;
        background-color: #BBE7FF;
    }

    body .mobileNav #mySections ul {
        padding-left: 40px;
        margin: 0;
        background-color: #BBE7FF;
        list-style: star;
    }

    body .mobileNav #mySections ul li .active {
        text-decoration: underline;
        text-decoration-style: wavy;
    }
}


@counter-style star {
    system: cyclic;
    symbols: "✦";
    suffix: " "
}